
.chat-big-box{
	width: 800px;
	height: 600px;
	margin: 0 auto;
	background: #efefef;
	border: 1px solid #333;
}

.chat-title{
	background: #ccc;
	padding: 5px 0px 5px 10px;
	height: 20px;
}

.chat-left{
	width: 550px;
	height:560px;
	float: left;
	background: #ffffff;
}
.chat-left-above{
	padding: 5px 0px 5px 10px;
	width: 550px;
	height:420px;
	overflow:auto;
	overflow-x: hidden
}
.chat-left-below{
	width: 550px;
	height:140px;
}
.chat-left-text{
	background: #e5ffff;
	width: 550px;
	border: none;
	height:130px;
	text-align: left;
}
.chat-right{
	width: 250px;
	height:570px;
	float: left;
	background: #d9d9d9;
}
#nac{
	overflow: hidden;
}

/* 聊天框 */
.chat-content-list{
	margin-bottom: 10px;
}
a{
	text-decoration: none;
	color: blue;
}
.new-user {
	width: 550px;
	text-align: center;
	font-size:13px;
	margin-top: 10px;
}

.usernamemine a{
	font-size: 15px;
	color: forestgreen;
	font-weight: 600;
}
.usertextmine{
	font-size: 14px;
	color: forestgreen;
}